[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1"
django-cors-headers = "==3.5.0"
django-tenants = "==3.2.1"
djangorestframework = "==3.11.1"
pillow = "==7.2.0"
psycopg2-binary = "==2.8.6"
pyrebase = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "python3 manage.py runserver"
make = "python3 manage.py makemigrations"
migra = "./manage.py migrate_schemas"
migrate = "python3 manage.py migrate_schemas --shared"
super = "python3 manage.py createsuperuser"
