.campos {
    background:  rgb(252, 252, 252);
    }
.campos h2{
    text-transform: uppercase;
    text-align: center;
}
.campos label, h2 {
    color: rgb(72, 77, 77)!important;
}
.card-campos {
    background:  rgb(252, 252, 252) !important;
}


.campos input:focus  {
    border-color:rgb(3, 184, 130)!important;
}

.onda-s {
    height: 160px; overflow: hidden;
 
}
.ondaa-s {
    
    height: 100%; width: 100%;
    background:rgba(0, 6, 7, 0.9);
}
.ondaaa-s {
    stroke: none; fill: rgb(255, 253, 253);

}

.onda-footer-s {
    height: 160px; overflow: hidden;
 
}
.ondaa-footer-s {
    
    height: 100%; width: 100%;
    background: rgb(255, 253, 253);

}
.ondaaa-footer-s {
    stroke: none; fill: rgb(30, 31, 45);

}

